/* src/index.css */
@tailwind base;
/*@tailwind components;*/
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/
  /*background: #16A34A;
  background: linear-gradient(90deg,rgba(22, 163, 74, 1) 0%, rgba(14, 165, 233, 1) 50%, rgba(124, 58, 237, 1) 100%);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  /*min-width: 320px;*/
  width: 100%;
  height: 100%;
  /*min-height: 100vh;*/
  background: #16A34A;
  background: linear-gradient(90deg,rgba(22, 163, 74, 1) 0%, rgba(14, 165, 233, 1) 50%, rgba(124, 58, 237, 1) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ⭐️ ESTILOS BASE PARA MODO OSCURO (Aplicados al body) ⭐️ */
body.dark-mode {
    /* Fondo muy oscuro / Azul profundo para el exterior */
    background: #0B1220;
    background: linear-gradient(90deg, rgba(11, 18, 32, 1) 0%, rgba(6, 49, 75, 1) 50%, rgba(42, 11, 62, 1) 100%);
    color: #E0E0E0; /* Color de texto principal claro */
}

/*.dashboard-page-container {
    background: #121212 !important; 
}*/
